body{
    margin: 0;
    padding: 0;
}
.Content{
    width: 500px;
    height: 670px;
    background: rgba(40, 124, 163, 0.85);
    top: 62%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}