body{
    margin: 0;
    padding: 0;
}
.highconsumptionstates{
    width: 320px;
    height: 250px;
    background: rgba(40, 124, 163, 0.85);
    top: 80%;
    left: 85%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
